<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jonathan.inventoryassistant" >

    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".NfcWriteTest"
            android:label="@string/title_activity_nfc_write_test" >
        </activity>

        <service
            android:name=".MobileListenerService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".MakeNewGrp"
            android:label="@string/title_activity_make_new_grp" >
        </activity>
        <activity
            android:name=".GrpList"
            android:label="@string/title_activity_grp_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
            <!--
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jonathan.inventoryassistant.MainActivity" />
            -->
        </activity>
        <activity
            android:name=".MakeItem"
            android:label="@string/title_activity_make_item" >
        </activity>
        <activity
            android:name=".ItemList"
            android:label="@string/title_activity_item_list" >
        </activity>
        <activity
            android:name=".ScanInItem"
            android:label="@string/title_activity_scan_in_item" >
        </activity>
        <activity
            android:name=".Welcome1"
            android:label="@string/title_activity_welcome1" >
        </activity>
    </application>

</manifest>
