<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jonathan.inventoryassistant" >

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDiCSazDp-a8Z85SqpZLONBUGKdyc7Y_CM"/>
        <activity
            android:name=".WriteNfcTag"
            android:label="@string/title_activity_nfc_write_test"
            android:parentActivityName=".ItemList" >
        </activity>

        <service
            android:name=".MobileListenerService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".NewGroup"
            android:label="@string/title_activity_make_new_grp"
            android:parentActivityName=".GroupList" >
        </activity>
        <activity
            android:name=".GroupScanMode"
            android:label="@string/title_activity_group_check_scan_mode"
            android:parentActivityName=".GroupList" >
        </activity>
        <activity
            android:name=".GroupList"
            android:label="@string/title_activity_grp_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
            <!--
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jonathan.inventoryassistant.MainActivity" />
            -->
        </activity>
        <activity
            android:name=".NewItem"
            android:label="@string/title_activity_make_item"
            android:parentActivityName=".ItemList" >
        </activity>
        <activity
            android:name=".ItemList"
            android:label="@string/title_activity_item_list"
            android:parentActivityName=".GroupList" >
        </activity>
        <activity
            android:name=".WelcomeTutorial"
            android:label="@string/title_activity_welcome1" >
        </activity>
        <activity
            android:name=".MapTestFragment"
            android:label="Map Test" >
        </activity>
        <activity
            android:name=".ItemView"
            android:label="@string/title_activity_item_view"
            android:parentActivityName=".ItemList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jonathan.inventoryassistant.ItemList" />
        </activity>
    </application>

</manifest>
